section.jumbo,
section.about {
    background-color: #1abc9c;
    color: white;
    /*Da rimuovere*/
    border: 1px solid black;
}

section.portfolio {
    /*Da rimuovere*/ 
    border: 1px solid blue;
}
/*Da rimuovere*/
div.col-12 {
    height: 100px;
    border: 3px solid red;
}
section.upper-f {
    background-color: #3a546d;
    /*Da rimuovere*/
    border: 1px solid brown;

}

section.lower-f {
    background-color: #2c3e50;
    /*Da rimuovere*/
    border: 1px solid rgb(77, 39, 39);

}

/*Da rimuovere*/
div.upper-f {
    border: 1px solid rgb(202, 181, 181);
}

div.lower-f {
    height: 150px;
    border: 1px solid rgb(190, 166, 166);
}
